<%- include('./partials/header', { title }) %>
  <% if (messages.length) { %>
    <ul class="message-list">
      <% messages.forEach(message => { %>
        <%- include('./partials/message', { message }) %>
      <% }) %>
    </ul>
  <% } else { %>
    <h1>No messages sent yet</h1>
    <h1>Be the first</h1>
  <% } %>
  
<%- include('./partials/footer') %>